.card-center{
    width:90%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;
}
.content-login{
    width:90%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;
    justify-content: center;   
    align-items: center;  
}
