<ion-content>
    <ion-grid class="grid1">

        <ion-row class="row1">
            <ion-col>

            </ion-col>
        </ion-row>

        <ion-row class="row2">
            <ion-col>

            </ion-col>
        </ion-row>

    </ion-grid>
    <ion-slide>
        <div class="contaier-login">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <img src="../assets/Logo.png" height="180" width="180" class="img-fluid" alt="Responsive image">
                        <h1 class="h1">Iniciar Session</h1>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-list>
                            <ion-item>
                                <ion-icon name="person-circle-outline"></ion-icon>
                                <ion-input placeholder="Email" type="email" [(ngModel)]="email"></ion-input>
                            </ion-item>
                            <ion-item>
                                <ion-icon name="key-outline"></ion-icon>
                                <ion-input placeholder="Password" type="password" [(ngModel)]="password"></ion-input>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <ion-button type="submit" fill="solid" expand="full" (click)="gologin()">Login</ion-button>

                    </ion-col>
                </ion-row>
            </ion-grid>
            <p text-center>¿No tienes una cuenta?</p>
            <ion-button routerLink="/register" color="warning">Registrarse</ion-button>

            <ion-button color="danger">
                <ion-icon name="logo-google">
                    <img src="../assets/logogoogle.jpg">
                </ion-icon>
            </ion-button>

            <ion-button color="primary">
                <ion-icon name="logo-facebook">
                    <img src="../assets/logofacebook.png">
                </ion-icon>
            </ion-button>
            <ion-row>
                <ion-col>
                    <ion-label>
                        <h3>¿Olvido la contraseña?</h3>
                    </ion-label>
                </ion-col>
            </ion-row>
        </div>
    </ion-slide>



</ion-content>