<div *ngIf="showSplash" class="splash">
    <div class="spinner"></div>
  </div>
<ion-app>
  <ion-menu side="start" menuId="Menu" colo contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Walking Care</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle>
        <ion-item routerLink="home">Ver Mi Perfil
          <ion-thumbnail slot="start">
            <ion-img src="assets/usuario.png"></ion-img>
          </ion-thumbnail>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="findwalk">
          Take Care Dogs
          <ion-icon slot="start" name="baseball-outline"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    <ion-menu-toggle>
        <ion-item routerLink="findpet">
          Walking Care Dogs
          <ion-icon slot="start" name="book-outline"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
    <ion-menu-toggle>
        <ion-item routerLink="findwalk">
          Training Care Dogs
          <ion-icon slot="start" name="baseball-outline"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="findwalk">
          Healthy Care Dogs
          <ion-icon slot="start" name="baseball-outline"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="findwalk">
          Rescue Care Dogs
          <ion-icon slot="start" name="baseball-outline"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="findwalk">
          Beauthy Care Dogs
          <ion-icon slot="start" name="baseball-outline"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="findwalk">
          Unete a Nuestro Equipo
          <ion-icon slot="start" name="baseball-outline"></ion-icon>
        </ion-item>
      </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
