<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<ion-header>
    <ion-toolbar color="primary" style=" color: white;">
        <ion-buttons slot="start">
            <ion-menu-button name="Menu">
            </ion-menu-button>
        </ion-buttons>
        <ion-title>
            Scan
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>