<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button name="Menu">
            </ion-menu-button>
        </ion-buttons>
        <ion-title>
            Walking Care
        </ion-title>
    </ion-toolbar>
</ion-header>

<div id="custom-overlay" [style.display]="'splash' ? 'flex': 'none'" class="container">
    <div class="flv">

        <div class="Aligner-items Aligner-item--top"></div>
        <img src="assets/icon/logo.png" height="150px">
        <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
    <ion-card class="md-3D md-cat-comma-space-as-args-1">
        <ion-card-header>

            <ion-card-header>
                <ion-card-title>Bienvenido</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>Es el inico de todo asddddddddddddddddddddddddddddddddddddddddddd</p>
            </ion-card-content>
        </ion-card-header>
    </ion-card>
    <div class="container-fluid">
        <ion-content>
            Bienvenidos
        </ion-content>
    </div>
</div>