<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-card>
      <img src="../assets/Logo.png" height="180" width="180" alt="">
      <ion-card-content style=" color: black; font-size: 7mm;">
        <ion-button (click)="abrirModal()">
          <ion-icon slot="start" name="add"></ion-icon>Actualizar
        </ion-button></ion-card-content>
      </ion-card>
    <ion-item>
        <ion-label>Nombres</ion-label>
        <ion-label>Jonathan Alejandro</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>Apellidos</ion-label>
      <ion-label>Perez Hernandez</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>Email</ion-label>
      <ion-label>JAPH2699@gmail.com</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-label>Password</ion-label>
      <ion-label>*************</ion-label>
    </ion-item>
  
    <ion-button routerLink="/home" type="submit" expand="full" color="danger">Register</ion-button>
  </ion-list>

</ion-content>  