<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <ion-header>
        <ion-toolbar color="primary" style=" color: white;">
          <ion-buttons slot="start">
            <ion-menu-button name="Menu">
            </ion-menu-button>
                </ion-buttons>
                <ion-title>
                  Formulario Tarjeta De Credito
                </ion-title>
              </ion-toolbar>
            </ion-header>
                
            <ion-app>
              <ion-header translucent>
                <ion-toolbar>
                  <ion-title>Pensada para los amantes de las mascotas</ion-title>
                  
                </ion-toolbar>
              </ion-header>
              <ion-content fullscreen>
                 <div class="wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-6 d-flex justify-content-md-end">
						<div class="social-media">
			    		<p class="mb-0 d-flex">
			    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-facebook"><i class="sr-only">Facebook</i></span></a>
			    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-twitter"><i class="sr-only">Twitter</i></span></a>
			    			<a href="#" class="d-flex align-items-center justify-content-center"><span class="fa fa-instagram"><i class="sr-only">Instagram</i></span></a>
			    		</p>
		        </div>
					</div>
				</div>
			</div>
    </div>
    
    <div class="hero-wrap js-fullheight" style="background-image: url('assets/bg_1.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-11 text-center">
          	<h1 class="mb-4">Porque Nos Encanta Apapacharlos</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco-section bg-light ftco-no-pt ftco-intro">
    	<div class="container">
    		<div class="row">
          <div class="col-md-4 d-flex align-self-stretch px-4">
            <div class="d-block services text-center">
              <div class="icon d-flex align-items-center justify-content-center">
					<ion-img src="assets/paseo.png"></ion-img>
              </div>
              <div class="media-body">
                <h3 class="heading">Walking Care Dogs</h3>
                <p>Servicio exclusivo para pasear a tu mascota cuando tu no puedas hacerlo. Ademas, ¡Es 100% seguro!</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch px-4">
            <div class="d-block services text-center">
              <div class="icon d-flex align-items-center justify-content-center">
				<ion-img src="assets/alimento.png"></ion-img>
              </div>
              <div class="media-body">
                <h3 class="heading">Take Care Dogs</h3>
                <p>¿No puedes cuidar a tu mascota? ¡Nosotros te ayudamos! Contamos con el mejor personal para atender a tu mascota como rey.</p>
              </div>
            </div>    
          </div>
          <div class="col-md-4 d-flex align-self-stretch px-4">
            <div class="d-block services text-center">
              <div class="icon d-flex align-items-center justify-content-center">
				<ion-img src="assets/entrenamiento.png"></ion-img>
              </div>
              <div class="media-body">
                <h3 class="heading">Trainign Care Dogs</h3>
                <p>¿Tu perro no te obedece? ¡Nosotros te enseyamos! Los mejores entrenadores a </p>
              </div>
            </div>      
          </div>
        </div>
        <br><br><br><br><br>
        <div class="row">
          <div class="col-md-4 d-flex align-self-stretch px-4">
            <div class="d-block services text-center">
              <div class="icon d-flex align-items-center justify-content-center">
				<ion-img src="assets/pata.png"></ion-img>
              </div>
              <div class="media-body">
                <h3 class="heading">Healthy Care Dogs</h3>
                <p>¿Se enfermo Firulais? Tenemos expertos que pueden lograr que tu mascota recupere su salud y siga brincando</p>
              </div>
            </div>      
          </div>
          <div class="col-md-4 d-flex align-self-stretch px-4">
            <div class="d-block services text-center">
              <div class="icon d-flex align-items-center justify-content-center">
				<ion-img src="assets/cuidados.png"></ion-img>
              </div>
              <div class="media-body">
                <h3 class="heading">Rescue Care Dogs</h3>
                <p>¿Nececitas una mascota? Puedes adoptar una mascota en nuestros albergues, o bien, poner tu casa para rescate de mascotas.</p>
               </div>
            </div>    
          </div>
          <div class="col-md-4 d-flex align-self-stretch px-4">
            <div class="d-block services text-center">
              <div class="icon d-flex align-items-center justify-content-center">
				<ion-img src="assets/perro.png"></ion-img>
              </div>
              <div class="media-body">
                <h3 class="heading">Beauthy Care Dogs</h3>
                <p>¿Se ensucio Firulais? Todo lo que nececita es un baño y a nuestros mejores estilistas.</p>
              </div>
            </div>      
          </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-5 d-flex">
    				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(assets/about-1.jpg);">
    				</div>
    			</div>
    			<div class="col-md-7 pl-md-5 py-md-5">
    				<div class="heading-section pt-md-5">
	            <h2 class="mb-4">¿Porque Somos Diferentes?</h2>
    				</div>
    				<div class="row">
	    				<div class="col-md-6 services-2 w-100 d-flex">
	    					<div class="icon d-flex align-items-center justify-content-center"><ion-img src="assets/dinero.png"></ion-img></div>
	    					<div class="text pl-3">
	    						<h4>Fuente de Ingresos</h4>
	    						<p>Ayudamos a personas que más lo nececitan a obtener un salario.</p>
	    					</div>
	    				</div>
	    				<div class="col-md-6 services-2 w-100 d-flex">
	    					<div class="icon d-flex align-items-center justify-content-center"><ion-img src="assets/mente.png"></ion-img></div>
	    					<div class="text pl-3">
	    						<h4>Salud</h4>
	    						<p>Las mascotas tambien ayudan a nuestra gente a salir adelante.</p>
	    					</div>
	    				</div>
	    				<div class="col-md-6 services-2 w-100 d-flex">
	    					<div class="icon d-flex align-items-center justify-content-center"><ion-img src="assets/servicios.png"></ion-img></div>
	    					<div class="text pl-3">
	    						<h4>Servicio</h4>
	    						<p>Nosotros contamos con diferentes servicios para la comodidad del usuario.</p>
	    					</div>
	    				</div>
	    				<div class="col-md-6 services-2 w-100 d-flex">
	    					<div class="icon d-flex align-items-center justify-content-center"><ion-img src="assets/seguridad.png"></ion-img></div>
	    					<div class="text pl-3">
	    						<h4>Seguro</h4>
	    						<p>Nunca tendras que preocuparte por perder a tu perro con nuestro seguimiento preciso.</p>
	    					</div>
	    				</div>
	    			</div>
	        </div>
        </div>
    	</div>
    </section>

    <section class="ftco-section bg-light ftco-faqs">
    	<div class="container">
    		<div class="row">
    			<div class="col-lg-6 order-md-last">
    				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(assets/about.jpg);">
    					<a href="https://vimeo.com/45830194" class="icon-video popup-vimeo d-flex justify-content-center align-items-center">
    						<span class="fa fa-play"></span>
    					</a>
    				</div>
    				<div class="d-flex mt-3">
    					<div class="img img-2 mr-md-2" style="background-image:url(assets/about-2.jpg);"></div>
    					<div class="img img-2 ml-md-2" style="background-image:url(assets/about-3.jpg);"></div>
    				</div>
    			</div>

    			<div class="col-lg-6">
    				<div class="heading-section mb-5 mt-5 mt-lg-0">
	            <h2 class="mb-3">Preguntas Frecuentes</h2>
	            <p>Como un dueño responsable es normal tener dudas de como cuidar a nuestras mascotas</p>
    				</div>
    				<div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
						  <div class="card">
						    <div class="card-header p-0" id="headingOne">
						      <h2 class="mb-0">
						        <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
						        	<p class="mb-0">¿Como entrenar a mi perro?</p>
						          <i class="fa" aria-hidden="true"></i>
						        </button>
						      </h2>
						    </div>
						    <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
						      <div class="card-body py-3 px-0">
						      	<ol>
						      		<li>El adiestramiento implica enseñarle a tu perro cómo ser un mejor compañero canino.</li>
						      		<li>Actúa como líder y tu perro te tratará como uno.</li>
						      		<li>La mejor manera para que tu perro aprenda es si existe una conexión clara y coherente entre sus acciones y tu reacción. </li>
						      		<li>No regales ni abuses de las recompensas.</li>
						      		<li> Si tu perro está haciendo algo malo, puede haber entendido que era correcto hacerlo y tú debes enseñarle lo contrario.</li>
						      	</ol>
						      </div>
						    </div>
						  </div>
						</div>

						<div id="accordion" class="myaccordion w-100" aria-multiselectable="true">
							<div class="card">
							  <div class="card-header p-0" id="headingOne">
								<h2 class="mb-0">
								  <button href="#collapseOne" class="d-flex py-3 px-4 align-items-center justify-content-between btn btn-link" data-parent="#accordion" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne">
									  <p class="mb-0">¿Como cuidar la salud de mi perro?</p>
									<i class="fa" aria-hidden="true"></i>
								  </button>
								</h2>
							  </div>
							  <div class="collapse show" id="collapseOne" role="tabpanel" aria-labelledby="headingOne">
								<div class="card-body py-3 px-0">
									<ol>
										<li>No subestimar la desparasitación.</li>
										<li>Los límites son necesarios para darles seguridad.</li>
										<li>La falta de juego y de paseos provoca la mayoría de los problemas de conducta en los perros.</li>
										<li>Los perros no pueden llevar la misma dieta que lleva un ser humano. La nutrición para ellos es diferente y no hay que humanizarlos en este sentido.</li>
										<li>humanizarlos es pensar que hace cosas por venganza o a propósito y esas actitudes son humanas, no caninas.</li>
									</ol>
								</div>
							  </div>
							</div>
						  </div>
	        </div>
        </div>
    	</div>
    </section>

    <footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
						<h2 class="footer-heading">Contactate con Nosotros</h2>
						<div class="block-23 mb-3">
              <ul>
                <li><span class="icon fa fa-map"></span><span class="text">Tula de Allende Hidalgo México</span></li>
                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+52 773 392 1210</span></a></li>
                <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">admin@walkingcare.com</span></a></li>
              </ul>
            </div>
					</div>
				</div>
				<div class="row mt-5">
          <div class="col-md-12 text-center">

            <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
			</div>
		</footer>
              </ion-content>
            </ion-app>
