<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <ion-header>
        <ion-toolbar color="primary" style=" color: white;">
          <ion-buttons slot="start">
            <ion-menu-button name="Menu">
            </ion-menu-button>
                </ion-buttons>
                <ion-title>
                  Tipo de Pago
                </ion-title>
              </ion-toolbar>
            </ion-header>
                
            <ion-app>
              <ion-header translucent>
                <ion-toolbar>
                  <ion-title>Pensada para los amantes de las mascotas</ion-title>
                  
                </ion-toolbar>
              </ion-header>
              <ion-content fullscreen>
                 <div class="wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-6 d-flex justify-content-md-end">
					</div>
				</div>
			</div>
    </div>
    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-5 d-flex">
    				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(assets/about-1.jpg);">
    				</div>
    			</div>
    			<div class="col-md-7 pl-md-5 py-md-5">
    				<div class="heading-section pt-md-5">
	            <h2 class="mb-4">Pago de Servicio</h2>
    				</div>
					<ion-list >
						<ion-radio-group [(ngModel)]="pag">
						  <ion-list-header>
							<h2 class="mb-4">Tipo de Pago</h2>
						  </ion-list-header>
						  <ion-item>
							<ion-icon name="card-outline"></ion-icon> <ion-label >Nueva Tarjeta de Credito</ion-label>
							<ion-radio value="nueva" slot="start" ></ion-radio>
						  </ion-item>
						  <ion-item>
							<ion-icon name="card"></ion-icon> <ion-label>Nueva Tarjeta de Dedito</ion-label>
							<ion-radio value="nueva-d" slot="start"></ion-radio>
						  </ion-item>
						  <ion-item>
							<ion-icon name="cash-outline"></ion-icon> <ion-label>Efectivo en Puntos de Pago</ion-label>
							<ion-radio value="efectivo" slot="start"></ion-radio>
						  </ion-item>
						  <ion-item>
							<ion-icon name="logo-paypal" ></ion-icon> <ion-label>Paypal</ion-label>
							<ion-radio value="paypal" slot="start"></ion-radio>
						  </ion-item>
						</ion-radio-group>
					</ion-list>
						  <ion-content>
							 <ion-button (click)="btnclick()" expand="block" class="ion-no-margin">Continuar</ion-button>
						  </ion-content>
						
					  
	        </div>
        </div>
    	</div>
    </section>

    <footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
						<h2 class="footer-heading">Contactate con Nosotros</h2>
						<div class="block-23 mb-3">
              <ul>
                <li><span class="icon fa fa-map"></span><span class="text">Tula de Allende Hidalgo México</span></li>
                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+52 773 392 1210</span></a></li>
                <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">admin@walkingcare.com</span></a></li>
              </ul>
            </div>
					</div>
				</div>
				<div class="row mt-5">
          <div class="col-md-12 text-center">

            <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
			</div>
		</footer>
              </ion-content>
            </ion-app>
