<link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <ion-header>
        <ion-toolbar color="primary" style=" color: white;">
          <ion-buttons slot="start">
            <ion-menu-button name="Menu">
            </ion-menu-button>
                </ion-buttons>
                <ion-title>
                  Tipo de Pago
                </ion-title>
              </ion-toolbar>
            </ion-header>
                
            <ion-app>
              <ion-header translucent>
                <ion-toolbar>
                  <ion-title>Pensada para los amantes de las mascotas</ion-title>
                  
                </ion-toolbar>
              </ion-header>
              <ion-content fullscreen>
                 <div class="wrap">
			<div class="container">
				<div class="row">
					<div class="col-md-6 d-flex justify-content-md-end">
					</div>
				</div>
			</div>
    </div>

    <section class="ftco-section ftco-no-pt ftco-no-pb">
    	<div class="container">
    		<div class="row d-flex no-gutters">
    			<div class="col-md-5 d-flex">
    				<div class="img img-video d-flex align-self-stretch align-items-center justify-content-center justify-content-md-center mb-4 mb-sm-0" style="background-image:url(assets/about-1.jpg);">
    				</div>
    			</div>
    			<div class="col-md-7 pl-md-5 py-md-5">
    				<div class="heading-section pt-md-5">
	            <h2 class="mb-4">Pago de Servicio</h2>
    				</div>
					<ion-list>
						<ion-radio-group value="biff">
						  <ion-list-header>
							<h2 class="mb-4">Tipo de Pago</h2>
						  </ion-list-header>
					  
						  <ion-item>
							<ion-label>OXXO</ion-label>
							<ion-radio slot="start"></ion-radio>
						  </ion-item>

						  <ion-button expand="block" class="ion-no-margin" routerLink="/pago">Imprimir Comprobante</ion-button>
					  
						  <ion-item>
							<ion-label>Visa</ion-label>
							<ion-radio slot="start"></ion-radio>
						  </ion-item>

						  <ion-list lines="full" class="ion-no-margin ion-no-padding">
							<ion-item>
								<ion-label>Número de Tarjeta</ion-label>
								<ion-input type="number"></ion-input>
							</ion-item>
				  
							<ion-item>
								<ion-label>Nombre de Tarjeta</ion-label>
								<ion-input type="text"></ion-input>
							</ion-item>
							
							<ion-item>
							  <ion-label position="floating">CSV</ion-label>
							  <ion-input type="text"></ion-input>
							</ion-item>

							<ion-item>
								<ion-label>Fecha de Expiración</ion-label>
								<ion-datetime value="2020-07" max="2070"
								  displayFormat="MMM, YYYY"
								  monthShortNames="Ene, Feb, Mar, Apr, May, Jun, Jul, Aug, Sep, Oct, Nov, Dic"></ion-datetime>
							  </ion-item>
		  <br><br>
							 <ion-button expand="block" class="ion-no-margin" routerLink="/pago">Pagar</ion-button>
						  </ion-list>
					  
						  <ion-item>
							<ion-label>Paypal</ion-label>
							<ion-radio slot="start" value="buford"></ion-radio>
						  </ion-item>
						</ion-radio-group>

					  </ion-list>
	        </div>
        </div>
    	</div>
    </section>

    <footer class="footer">
			<div class="container">
				<div class="row">
					<div class="col-md-6 col-lg-3 mb-4 mb-md-0">
						<h2 class="footer-heading">Contactate con Nosotros</h2>
						<div class="block-23 mb-3">
              <ul>
                <li><span class="icon fa fa-map"></span><span class="text">Tula de Allende Hidalgo México</span></li>
                <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+52 773 392 1210</span></a></li>
                <li><a href="#"><span class="icon fa fa-paper-plane"></span><span class="text">admin@walkingcare.com</span></a></li>
              </ul>
            </div>
					</div>
				</div>
				<div class="row mt-5">
          <div class="col-md-12 text-center">

            <p class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
          </div>
        </div>
			</div>
		</footer>
              </ion-content>
            </ion-app>
